//META{"name":"test","description":"ReZero anime theme. Also this theme updates automatically so just reload and you're good.","author":"CreamCheese (C.C.)","version":"2.3"}*//

/* 
\/\/\/\/\/\/\/\/\/\/\/\/\/
Made by
   ______      ______     
 .' ___  |   .' ___  |    
/ .'   \_|  / .'   \_|    
| |         | |           
\ `.___.'\ _\ `.___.'\ _  
 `.____ .'(_)`.____ .'(_) 
\/\/\/\/\/\/\/\/\/\/\/\/\/
Hex color for everything: #afafff
Hex color for hovering: #8282ff
Hex color for texts: #e6e6fa 
*/

@import url("https://raw.githubusercontent.com/Duckfriend/TestTheme/master/Testtheme");
