//META{"name":"TestTheme","description":"akjlsdfjlk","author":"dug","version":"0.1:}*//

/* 
Hex color for everything: #afafff
Hex color for hovering: #8282ff
Hex color for texts: #e6e6fa 
*/

@import url("https://raw.githubusercontent.com/Duckfriend/TestTheme/master/Testtheme");
